.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}
.login-button div {
  padding-left: 10px;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  position: relative;
  justify-content: center;
  margin-left: 100px;
}
.search-icon {
  position: absolute;
  left: -20px;
  top: 3px;
}
.search-input {
  border-style: none;
  border-bottom: 2px solid black;
}
.search-input:focus {
  outline: none;
}
.card-container {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.card:hover {
  transform: scale(1.2);
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
.detail-conscious {
  font-size: 12px;
}
.product-text div {
  padding-bottom: 12px;
}
.purchase-button {
  width: 70%;
}
.nav-section img {
  cursor: pointer;
}
